.successStorySec{
  background-image: url("../../assets/Ellipse2.png");
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 30px;
  background-color: rgb(105, 153, 224);
  height: 450px;
  padding: 20px 150px;
  
}

.successTitle{
  margin-top: 100px;
}

.description{
  text-align: center;
  margin: 0;
}



@media screen and (max-width: 768px) {
  .successStorySec{
    font-size: 5vw;
    padding: 20px 40px;
    height: 350px;
  }
}