.featureSection{
  background-image: url("../../assets/Rectangle12.png");
  padding: 40px;
}

.featuresTitle{
  text-align: center;
  font-size: 45px;
  margin-bottom: 0;
}

.featureDesc{
  font-size: 30px;
  text-align: center;
  padding: 40px;
  margin-top: 0;
}

.imgDiv{
  text-align: center;
  margin-bottom: 30px;
}

.featureImg1{
  width: 800px;
}
.featureImg2{
  width: 1200px;
}


@media screen and (max-width: 768px) {
  .featureDesc{
    font-size: 5vw;
    text-align: center;
    padding: 40px 20px;
    margin-top: 0;
  }

  .featureImg1{
    width: 300px;
  }
  .featureImg2{
    width: 300px;
  }
}