.nav-bar{
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.nav-options{
  font-size: 15px;
  display: flex;
  gap: 30px;
}


@media screen and (max-width: 768px) {
  .nav-bar{
   font-size: 5vw;
   padding: 0;
   margin: 0;
  }
  .nav-options{
    display: flex;
    flex-direction: column;
    font-size: 10px;
    gap: 0;
    margin: 0;
    padding: 0;
  }
}