.aboutUs{
  color: white;
  background-color: rgb(64, 64, 187);
  padding: 80px;
  font-size: 27px;
}

.about-title{
   font-size: 40px;
}

.aboutImgDiv{
  text-align: center;
  margin-top: 100px;
}
.aboutImg{
  width: 90%;
}



@media screen and (max-width: 768px) {
  .aboutUs{
    color: white;
    background-color: rgb(64, 64, 187);
    padding: 25px;
    font-size: 5vw;
  }
  .aboutImg{
    width: 300px;
  }
}